/******** GENERAL VARIABLES ********/
$primary-orange: #EE6E10;
$secondary-blue: #00849C;
$light-orange: #F9913D;
$light-blue: #29C0B2;

/******** RESET STYLE ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
  font-family: 'Paytone One', sans-serif;

  /* font-family: 'Cinzel', serif; */

}

/******** PAGE STYLE ********/
#app {
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.bg-gray-900 {
  background-color: rgb(17 24 39);
}

.jumboText {
  font-family: 'Carter One', cursive;
}

.logoText {
color: #343434;
font-family: 'Carter One', cursive;
}